@import "tailwindcss";

/* =========================
   THEME CONFIGURATION
========================= */

@theme {
  /* COLORS */

  --color-background: #0f0f11;
  --color-surface: #18181b;

  --color-primary: #381932;
  --color-secondary: #fff3e6;

  --color-text: #fff3e6;
  --color-text-muted: #b3a8ae;

  --color-border: #4d2a47;

  /* FONTS */

  --font-primary: "Inter", sans-serif;

  /* RADIUS */

  --radius-card: 24px;
  --radius-button: 18px;

  /* SHADOWS */

  --shadow-primary: 0 10px 30px rgba(56, 25, 50, 0.3);
}